* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Dark theme*/
    --grey-border: #413939;
    --dark-background: #242323;
    --black-background: #000;
    --light-font: #f5f4f4;
    --grey-font: #b3b9c5;
    --dark-button-background: #383737;
    --dark-button-border: #3f3e3e;
    --font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-family-monospace: Menlo, "JetBrains Mono", monospace;
}

body {
    background-color: var(--black-background);
    color: var(--grey-font);
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.5;
}

p {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #959af8;
}

a:hover {
    color: #c1c3f8;
    text-decoration: underline;
}

#container {
    margin: 10px 30px;
}

#navheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #CCCCCC;
}

#navheader span {
    align-self: end;
}

#navigation {
    margin: 10px 30px;
}

.year-and-total {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
}

.year-and-total span {
    font-size: 0.9rem;
}

#blog-post-list {
    margin: 0 30px;
}

.the-date {
    font-size: 0.8rem;
}

#blog-post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

#blog-post-info span, img{
    align-self: center;
}

#blog-post-info img {
    object-fit: cover;
    max-height: 100px;
    max-width: 100px;
    clip-path: circle(40%);
}

.posts-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#blog-post {
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto;
}

/* #navfooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-top: 1px solid #CCCCCC;
}

#navfooter span {
    align-self: end;
} */